<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>spa</title>
    <!--<link href=/spa/css/app.adf0351dc7470cffab2fe2679732293f.css rel=stylesheet>-->
</head>
<body>
<div id=app>
    商品管理
</div>
<!--<script type=text/javascript src=/spa/js/manifest.ce65341b0276a02e8caa.js></script>
<script type=text/javascript src=/spa/js/vendor.912b8d8d7d4a7a78cf11.js></script>
<script type=text/javascript src=/spa/js/app.9d087f39c33612fcd9ee.js></script>-->
</body>
</html>